<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="env.url" value="https://drive-interne.rec.sgdbf.saint-gobain.net"/>
<listeners>
<listener class-name="DriveAPI.Listeners"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="DriveAPI.AutomateDriveAPITest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
